html {
  background-color: white;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.card-text {
 	font-weight: bold;
 }

.border-primary {
 	border-width: 5px !important;
 }

 .border-success {
 	border-width: 5px !important;
 }

.bg-primary {
	color: white;
}
.jumbotron{
  text-align: center;
}
.display-4{
  text-align: center;
  font-size: 33px;
}
.form-control{
  padding: 10px 10px;
  width: 25%;
  margin-left: 30%;  
}
.btn{
  padding: 10px 15px;
}
.bt{
  background-color: black;
  color: white;
}
.b{
  background-color: black;
  color: white;
}
.card{
  margin-left: 22px;
  font-size: 22px;
  margin-top: 5%;
}